* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica","Arial",serif;
  color: #333;
  background-color: #ccc;
  margin: 1em 10%;
}
a {
  color: #c60;
  background-color: transparent;
  font-weight: bold;
  text-decoration: none;
}
ul {
  padding: 0;
  position:relative;
  line-height:1.5em;
  overflow:hidden;
}
.showCount {
  height:3em;
}
.showAll {
  position:absolute;
  font-size: 12px;
  bottom:0;
  right:0;
  padding: 0 5px;
  cursor: pointer;
}
li {
  float: left;
  padding: 1em;
  list-style: none;
  cursor: pointer;
}
#imagegallary {
  list-style: none;
}
#imagegallary li {
  display: inline;
}
#placeholder {
  clear: left;
  display: block;
  width: 300px;
  height: 300px;
}